@import font-sizes

html, body
  font-family: 'Nunito', Arial, Helvetica, sans-serif
  font-size: 18px
  line-height: 1.5
  color: var(--wp--preset--color--foreground)

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  font-family: 'Jost', Arial, Helvetica, sans-serif
  font-weight: 600
  margin-top: 0

h2, .h2, h3, .h3, h4, .h4, h5, .h5
  margin-bottom: 20px

h1, .h1
  margin-bottom: 30px

h6, .h6
  margin-bottom: 10px

// Generate headings and font size utilities
@each $fontSize, $sizesVector in $fontSizes
  $headingItem: nth($sizesVector, 8)
  .fs-#{$fontSize}
    font-size: $fontSize + px
    line-height: nth($sizesVector, 1)
    @if nth($sizesVector, 4) != ($fontSize * 1px)
      @media (max-width: $l)
        font-size: nth($sizesVector, 2)
        line-height: nth($sizesVector, 3)
    @if nth($sizesVector, 4) != nth($sizesVector, 2)
      @media (max-width: $m)
        font-size: nth($sizesVector, 4)
        line-height: nth($sizesVector, 5)
    @if nth($sizesVector, 6) != nth($sizesVector, 4)
      @media (max-width: $s)
        font-size: nth($sizesVector, 6)
        line-height: nth($sizesVector, 7)
  @if $headingItem
    #{$headingItem}, .#{$headingItem}
      @extend .fs-#{$fontSize}
  
