<!-- wp:template-part {"slug":"header","tagName":"header","className":"Header py-30 is-layout-constrained alignwide","theme":"naydenova_art"} /-->

<section class="is-layout-constrained">
	<!-- wp:heading -->
	<h1 class="h2">Тази страница не е намерена.</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Опитайте да потърсите?</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":""} /-->
</section>

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container py-30 is-layout-constrained alignwide","theme":"naydenova_art"} /-->
